@charset 'utf-8';

.memberList-wrap {
  width: 1300px;
  background-color: white;
  padding: 50px;
  border-radius: 5px;
}

.list-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: center;
}

.list-top-left h2 {
  font-size: 36px;
  color: var(--main-color);
}

.list-top-right {
  display: flex;
  justify-content: flex-end;
  width: 400px;
}
.list-top-right div {
  margin-right: 10px;
  height: 25px;
  line-height: 10px;
}

.memlist-input-wrap input {
  border: 1px solid #eee;
  border-radius: 3px;
}

.memlist-btn-wrap button {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  border-radius: 3px;
  width: 50px;
  cursor: pointer;
}

.board-main table {
  border: 1px solid #eee;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.no-mem {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  font-size: 28px;
}

.board-main th {
  background-color: var(--main-color);
  color: white;
  height: 80px;
  font-size: 24px;
  padding: 15px;
}

.board-main tr {
  height: 50px;
  border: 1px solid #eee;
}

.board-main td:first {
  width: 5%;
  margin-left: 10px;
}

.board-main td:nth-child(2) a:hover {
  color: red;
}

.board-main td:nth-child(2) {
  width: 45%;
  text-decoration: underline;
}

.board-main td:nth-child(3) {
  width: 10%;
}

.board-main td:nth-child(4) {
  width: 30%;
}

.board-main td:nth-child(5) {
  width: 10%;
}

.board-main td:last-child > div {
  display: flex;
  justify-content: center;
}

.board-main td:last-child i {
  font-size: 22px;
  color: var(--main-color);
  margin-right: 15px;
  cursor: pointer;
}

.bordlist-bottom {
  float: right;
  margin-top: 10px;
  width: 80px;
  height: 30px;
}

.bordlist-bottom button {
  background-color: var(--main-color);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
