@import url(./reset.css);
@import url(./index.css);
@import url(./regist.css);
@import url(./memberList.css);
@import url(./modal.css);
@import url(./boardList.css);
@import url(./view.css);
@import url(./contentView.css);
@import url(./write.css);
@import url(./updateUser.css);
@import url(./updateBoard.css);
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap");

body {
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

:root {
  --main-color: rgb(69, 169, 252);
}

/* 아이콘 공통 */
.iconss {
  margin-right: 15px;
  font-size: 35px;
}

.view-icon-wrap a:first-child {
  color: var(--main-color);
}

.view-icon-wrap a:nth-child(2) {
  color: rgb(70, 241, 70);
}

.view-icon-wrap a:nth-child(3) {
  color: rgb(151, 67, 247);
}

.view-icon-wrap a:last-child {
  color: gray;
}

.iconss:hover {
  transform: scale(1.5);
}
