<%- include('inc/_header') %>
<link rel="stylesheet" href="style.css" />
<body>
  <%- include('inc/_menu') %>
  <main>
    <div class="background">
      <div class="container">
        <div class="btn-wrap">
          <div class="btn-left-wrap">
            <a href="/regist">
              <button class="btn-left">
                <i class="fa-solid fa-user"></i><br />
                회원가입
              </button>
            </a>
          </div>

          <div class="btn-center-wrap">
            <a href="/memlist">
              <button class="btn-center">
                <i class="fa-solid fa-user"></i><br />
                회원목록
              </button>
            </a>
          </div>

          <div class="btn-right-wrap">
            <a href="/boardList">
              <button class="btn-rigth">
                <i class="fa-solid fa-list"></i><br />
                게시판
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="toggle.js"></script>
</body>
