<%- include('inc/_header') %>
<link rel="stylesheet" href="style.css" />
<body>
  <%- include('inc/_menu') %>

  <main>
    <form action="" method="post" autocomplete="off" id="form">
      <div class="regist-wrap">
        <div class="regist-input-wrap">
          <div class="label-wrap">
            <label>아이디:</label>
          </div>
          <div class="regist-input">
            <input type="text" name="userid" id="userid" class="userid" />
            <small></small>
          </div>
        </div>

        <div class="regist-input-wrap">
          <div class="label-wrap"><label>비밀번호:</label></div>
          <div class="regist-input">
            <input
              type="password"
              name="userpwd"
              id="userpwd"
              class="userpwd"
            />
            <small></small>
          </div>
        </div>

        <div class="regist-input-wrap">
          <div class="label-wrap"><label>이름:</label></div>
          <div class="regist-input">
            <input type="text" name="username" id="username" class="username" />
            <small></small>
          </div>
        </div>

        <div class="regist-input-wrap">
          <div class="label-wrap"><label>이메일:</label></div>
          <div class="regist-input">
            <input
              type="email"
              name="useremail"
              id="useremail"
              class="useremail"
            />
            <small></small>
          </div>
        </div>
        <div class="regist-btn-wrap">
          <input type="submit" value="가입" id="submitbtn" />
        </div>
      </div>
    </form>
  </main>

  <div>
    <button type="button" onClick="popupOpen()">중복체크</button>
  </div>

  <script src="./js/regist.js"></script>
  <script>
    function popupOpen() {
      let url = "/checkid";
      let nick = "중복검사";
      let screen = "width = 500. height = 500,top=100,left=200,location =no";
      window.open(url, nick, screen);
    }
  </script>
</body>
