<header>
  <div class="nav-wrap" id="nav-wrap">
    <div class="logo-wrap">
      <a href="/"><h1>Bit</h1></a>
    </div>
    <button class="toggle" id="toggle">
      <i class="fa-solid fa-bars"></i>
    </button>

    <ul class="link-wrap" id="link-wrap">
      <li><a href="/">Home</a></li>
      <li><a href="">Menu</a></li>
      <li><a href="/memlist">Member</a></li>
      <li><a href="/boardList">Board</a></li>
      <li><a href="">Q&A</a></li>
    </ul>

    <div class="icon-wrap" id="icon-wrap">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-github"></i>
      <i class="fa-solid fa-envelope"></i>
      <i class="fa-brands fa-facebook"></i><i class="fa-brands fa-twitter"></i>
    </div>
  </div>
</header>
